.centering {
    margin: 0 auto;
    text-align: center;
}

.text {
    margin-bottom: 2vh;
    height: 4vh;
    font-size: 3vh;
    border: 2px #a0a0a0 solid;
    border-radius: 10px;
}

.control {
    display: flex;
    margin: auto;
    width: 100%;
    height: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.control>a {
    border: 8px black;
    border-style: solid;
    border-radius: 0px;
    margin: 0px 8px 8px 0px;
    padding: 4px 12px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.create {
    background: #2090f0;
    transition: all 0.1s;
}
.create:hover {
    background: #fff;
    color: #2090f0;
}

.update {
    background: #40c080;
    transition: all 0.1s;
}
.update:hover {
    background: #fff;
    color: #40c080;
}

.delete {
    background: #f03008;
    transition: all 0.1s;
}
.delete:hover {
    background: #fff;
    color: #f03008;
}

table, th, td{
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 4px;
}

table {
    margin: auto;
}

thead>tr {
    background-color: #28c;
}
tbody>tr:nth-child(2n) {
    background-color: #9bd;
}
tbody>tr:nth-child(2n+1) {
    background-color: #bdf;
}