.master-box {
    display: flex;
    background: #f0f080;
    border: 1.5vh black;
    border-style: solid;
    margin: 11vh auto;
    width: 50vw;
    height: 75vh;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.text {
    margin-bottom: 2vh;
    height: 4vh;
    font-size: 3vh;
    border: 2px #a0a0a0 solid;
    border-radius: 10px;
}