.master-box {
    background: #c0c0f0;
    border: 1.5vh black;
    border-style: solid;
    margin: 11vh auto;
    padding: 50px 0;
    width: 50vw;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.text {
    margin-bottom: 2vh;
    height: 4vh;
    font-size: 4vh;
}

.buttons {
    margin: 0 auto;
}

.go {
    font-size: 15px;
	
	padding: 8px;
	border: 1px solid black;
	border-radius: 20px;
	width: 100px;
	color: inherit;
	cursor: pointer;
	background: #de3;

	transition: all 0.1s;
}
.go:hover {
	background: rgb(255, 176, 103);
}
.go:active {
	background: rgb(53, 50, 255);
	color: wheat;
}