.centering {
    margin: 0 auto;
    text-align: center;
}

.box {
    padding: 0;
    margin: 0;
    width: 25%;
    height: auto;
    cursor: pointer;
    object-view-box: inset(200px 0 0 0);
}

.text {
    margin-bottom: 2vh;
    height: 4vh;
    font-size: 3vh;
}

input[type=radio] {
    display: none;
}

input[type="radio"] + label img {
    opacity:0.5;
}

input[type="radio"]:hover + label img {
    opacity:1;
}