body {
    margin: 8px auto;
    width: 75vw;
    max-width: 1440px;
}

.options {
    background: #f0f080;
    border: 8px black;
    border-style: solid;
    border-radius: 20px;
    margin: 0 auto;
    width: 35.1vw;
    height: 10vh;
    text-align: center;
    align-items: center;
}