body {
    margin: 8px auto;
    width: 75vw;
    max-width: 1440px;
}

.contents1 {
    display: flex;
    justify-content: space-between;
    margin: 0px auto 1vh auto;
    height: 55vh;
}

.get-treasure, .use-items{
    display: flex;
    justify-content: center;
    border: 8px black;
    border-style: solid;
    width: 35.1vw;
    border-radius: 20px;
}
.show-lineup, .show-histories, .others {
    display: flex;
    justify-content: center;
    border: 8px black;
    border-style: solid;
    width: 22.5vw;
    border-radius: 20px;
}

a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.get-treasure {
    background: #f0f080;
}

.use-items {
    background: #80f0f0;
}

.contents2 {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    height: 25vh;
}

.show-lineup {
    background: #80f080;
}

.show-histories {
    background: #f08080;
}

.others {
    background: #c0c0c0;
}

.bigImg, .smallImg {
    display: block;
    padding: 0;
    object-fit: contain;
    height: 95%;
    width: 95%;
}